{% if site.publications %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Patents/Publications</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="publicationsPanel">
				{% for publication in site.publications.publications %}
				<div class="row content-rounded-panel ">
						<b>Name</b>: {{publication.title}}<br/>
						<b>Type</b>: {{publication.type}}<br/>
						<b>Date</b>: {{publication.date}}
				</div><br/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
