	<div id="blogBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Recent blog posts</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="blogArticles">
			<ul>
			<li><a href="https://medium.com/shivamohan07/git-branching-dont-always-follow-the-best-practices-5e930be49c80">GIT Branching: Don't(always) follow the best practices.</a></li>
			<li><a href='https://dzone.com/articles/test-driven-development-5'>Rearchitect Your Code Using Test-Driven Development</a></li>
			<li><a href='https://dzone.com/articles/running-map-reduce-jobs-in-windows-personal-laptop'>Running MapReduce Jobs on Windows (Personal Laptops)</a></li>
			<li><a href='https://dzone.com/articles/makefile-command-in-windows'>Makefile in Windows</a></li>
			</ul>
			</div>
			<br>
		</div>
	</div>